
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %} others{% endblock title %}</title>
{% block corecss %}
<link rel="stylesheet" href="{% static 'core/css/style.css' %}">
{% endblock corecss %}

</head>
<body>
    <img src="{% static 'core/imgs/Rohit.avif'' %}" alt="">
    <img src="{% static 'core/imgs/ss.jpg' %}" alt="">
    <nav>
        <ul>
           <li>Home</li>
           <li>About</li>
           <li>contact</li>
           <li>django_</li>
        </ul>
    </nav>
    
{% block content %} {% endblock content %}
{% block content1 %} {% endblock content1 %}
{% block content2 %} {% endblock content2 %}
</body>
</html>